body {
    background-color: lightbrown;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 18px;
    color: black;
  }
  
  .header {
    text-align: left;
  }
  
  .header-mid {
    display: inline;
  }
  
  .header-text {
    display: inline;
  }
  
  .paragraph {
    margin-top: 0; /* Remove default margin for paragraphs */
  }
  
  .hover-link:hover {
    color: aqua;
  }
  
